.box {
    position: relative;
    border: 5px black solid;
    border-radius: 20px;
    padding: 5px;
    width: fit-content;
    background-color: lightgrey;
}

.sectionTitle {
    width: 230px;
    text-align: center;
    font-size: larger;
    margin:5px 0;
    font-weight: bold;
    text-decoration: underline overline 2px black;
}

#abilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: fit-content;
    width: 122px;
}