.skill {
    display: flex;
    border: 3px black solid;
    border-radius: 10px;
    width: 215px;
    margin: 5px;
    padding: 5px;
}

.skillInfo {
    display: flex;
    margin: 5px 0px;
    justify-content: space-between;
}

.skillInfo p {
    margin: 5px;
}
