.skill {
    display: flex;
    border: 3px black solid;
    border-radius: 10px;
    width: 225px;
    margin: 5px;
    padding: 5px;
}

.skillInfo {
    display: grid;
    margin: 5px 0px;
    width: 230px;
    height: 30px;
}

.skillInfo p {
    margin: 5px;
}

.skillInfo p + p {
    display: flex;
    position: relative;
    justify-self: end;
    top: -32px;

    border: 2px solid black;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

.skillButton {
    align-self: center;
    width: 20px;
    height: 20px;
}
